<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://unpkg.com/vue"></script>
  <title>Swing</title>
</head>
<body>
  <h2>1 month</h2>
  <label>goal
  <input type="text" />
</label>
  <input type="button" value="add" />
  <label>archivement rate
  <progress value="0" max="100">0%</progress>
</label>
  <br>
  <div style="padding-left: 50px;">
    <h4>1st week</h4>
    <ul>
      <li>
        <label>target<input type="text" /></label>
        <label>action<input type="text" /></label>
        <input type="button" value="add" />
        <p>target：朝早く起きる action：夜早く寝る<input type="button" value="edit" />
          <input type="button" value="remove" /></p>
      </li>
    </ul>
    <h4>2nd week</h4>
    <ul>
      <li>
        <label>target<input type="text" /></label>
        <label>action<input type="text" /></label>
      </li>
    </ul>
    <h4>3rd week</h4>
    <ul>
      <li>
        <label>target<input type="text" /></label>
        <label>action<input type="text" /></label>
      </li>
    </ul>
    <h4>4th week</h4>
    <div id="app-4">
      <p v-bind:total-task="totalTask">task：{{ totalTask  }}</p>
      <span v-if="totalTask > 0" v-on:click="toggle">[{{ open ? '-' : '+' }}]</span>
      <input-form v-bind:add-text="addText" v-bind:target="targetText" v-bind:action="actionText"></input-form>
      <ul v-show="open">
        <todo-list v-for="(task, index) in taskList"
                   v-bind:task="task"
                   v-bind:index="index"
                   v-bind:target-text="targetText"
                   v-bind:action-text="actionText">
        </todo-list>
      </ul>
    </div>
    <script>
      var eventHub = new Vue()
      var todoList = {
        template: '<li>\
        <p><label>target：</label>{{ task.targetText }}</p>\
        <p><label>action：</label>{{ task.actionText }}</p>\
        <button v-on:click="delete_click">delete</button></li>',
        props: [
          'targetText',
          'actionText',
          'task',
          'index',
        ],
        methods: {
          delete_click: function() {
            console.log("delete_click");
            eventHub.$emit('delete-text', this.index)
          }
        }
      }
      var inputForm = Vue.component('input-form', {
        template: '<div>\
        <label>target：<input v-model="target" type="text" /></label>\
        <label>action：<input v-model="action" type="text" /></label>\
        <button v-on:click="button_click">add</button></div>',
        props: [
          'target',
          'action',
          'addText'
        ],
        methods: {
          button_click: function(event) {
            this.addText(event, this.target, this.action)
          }
        }
      })
      var app4 = new Vue({
        el: '#app-4',
        components: {
          todoList: todoList,
          inputForm: inputForm
        },
        data: {
          targetText: '',
          actionText: '',
          taskList: [],
          index: 0,
          totalTask: 0,
          open: true
        },
        created: function() {
          eventHub.$on('delete-text', this.deleteText)
        },
        methods: {
          addText: function(event, newTarget, newAction) {
            this.taskList.push({
              id: this.index,
              targetText: newTarget,
              actionText: newAction
            })
            this.index += 1
            this.totalTask += 1
            this.targetText = ''
            this.actionText = ''
          },
          deleteText: function(id) {
            this.index -= 1
            this.totalTask -= 1
            this.taskList = this.taskList.filter(function(task) {
              return task.id !== id
            })
          },
          toggle: function() {
            this.open = !this.open
          }
        }
      })
    </script>
</body>
</html>
