.content {
  display: none;
}
.content:target {
  display: block;
}
a {
  border-radius: 6px 6px 0 0;
  display: inline-block;
  line-height: 32px;
  font: sans-serif;
  text-align: center;
  background-color: #efefef;
  color: black;
  margin-left: 4px;
  text-decoration: none;
  padding: 0 32px;
}
