<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="index.css">
  <title>Swing</title>
</head>
<body>
  <h2>1 month</h2>
  <div id="app-0">
    <h4 v-bind:total-task="totalTask">totalTask：{{ totalTask  }}</h4>
  </div>
  <label>goal
  <input type="text" />
</label>
  <input type="button" value="add" />
  <label>archivement rate
  <progress value="0" max="100">0%</progress>

</label>
  <br>
  <div style="padding-left: 50px;">
    <h4>1st week</h4>
    <div id="app-1">
      <p v-bind:total-task="totalTask">task：{{ totalTask  }}</p>
      <span v-if="totalTask > 0" v-on:click="toggle">[{{ open ? '-' : '+' }}]</span>
      <input-form v-bind:add-text="addText" v-bind:target="targetText" v-bind:action="actionText"></input-form>
      <ul v-show="open" class="task-list">
        <todo-list v-for="(task, index) in taskList"
                   v-bind:task="task"
                   v-bind:delete-text="deleteText"
                   >
        </todo-list>
      </ul>
    </div>
    <h4>2nd week</h4>
    <div id="app-2">
      <p v-bind:total-task="totalTask">task：{{ totalTask  }}</p>
      <span v-if="totalTask > 0" v-on:click="toggle">[{{ open ? '-' : '+' }}]</span>
      <input-form v-bind:add-text="addText" v-bind:target="targetText" v-bind:action="actionText"></input-form>
      <ul v-show="open" class="task-list">
        <todo-list v-for="(task, index) in taskList"
                   v-bind:task="task"
                   v-bind:delete-text="deleteText"
                   >
        </todo-list>
      </ul>
    </div>
    <h4>3rd week</h4>
    <div id="app-3">
      <p v-bind:total-task="totalTask">task：{{ totalTask  }}</p>
      <span v-if="totalTask > 0" v-on:click="toggle">[{{ open ? '-' : '+' }}]</span>
      <input-form v-bind:add-text="addText" v-bind:target="targetText" v-bind:action="actionText"></input-form>
      <ul v-show="open" class="task-list">
        <todo-list v-for="(task, index) in taskList"
                   v-bind:task="task"
                   v-bind:delete-text="deleteText"
                   >
        </todo-list>
      </ul>
    </div>
    <h4>4th week</h4>
    <div id="app-4">
      <p v-bind:total-task="totalTask">task：{{ totalTask  }}</p>
      <span v-if="totalTask > 0" v-on:click="toggle">[{{ open ? '-' : '+' }}]</span>
      <input-form v-bind:add-text="addText" v-bind:target="targetText" v-bind:action="actionText"></input-form>
      <ul v-show="open" class="task-list">
        <todo-list v-for="(task, index) in taskList"
                   v-bind:task="task"
                   v-bind:delete-text="deleteText"
                   >
        </todo-list>
      </ul>
    </div>
    <script>
      var storage = {
        fetch: function(key) {
          var tasks = JSON.parse(localStorage.getItem(key) || '[]')
          return tasks
        },
        save: function(key, tasks) {
          localStorage.setItem(key, JSON.stringify(tasks))
        },
        getCurrentId: function(key) {
          var tasks = JSON.parse(localStorage.getItem(key) || '[]')
          var id = 0
          tasks.map(function(task) {
            if (id < task.id) {
              id = task.id
            }
          })
          console.log(id);
          return id
        }
      }
      var eventHub = new Vue()
      var todoList = {
        template: '<li>\
        <p v-bind:class="{done: isDone, targetEditing: isTargetEdit}" @dblclick="target_double_click">\
        <label>target：</label><span class="view">{{ task.targetText }}</span>\
        <input class="edit" v-model="task.targetText" @keyup.enter="edit_keyup(task)" type="text" />\
        </p>\
        <p v-bind:class="{done: isDone, actionEditing: isActionEdit}" @dblclick="action_double_click">\
        <label>action：</label><span class="view">{{ task.actionText }}</span>\
        <input class="edit" v-model="task.actionText" @keyup.enter="edit_keyup(task)" type="text" />\
        </p>\
        <button @click="done_click">done</button>\
        <button v-on:click="delete_click">delete</button>\
        </li>',
        props: [
          'task',
          'index',
          'isDone',
          'isTargetEdit',
          'isActionEdit',
          'deleteText'
        ],
        methods: {
          delete_click: function() {
            this.deleteText(this.task.id)
          },
          done_click: function() {
            this.isDone = !this.isDone
          },
          target_double_click: function() {
            this.isTargetEdit = true
          },
          action_double_click: function() {
            this.isActionEdit = true
          },
          edit_keyup: function() {
            this.isTargetEdit = false
            this.isActionEdit = false
            eventHub.$emit('edit-done', this.task)
          }
        }
      }
      var inputForm = Vue.component('input-form', {
        template: '<div>\
        <label>target：<input v-model="target" type="text" /></label>\
        <label>action：<input v-model="action" type="text" /></label>\
        <button v-on:click="button_click">add</button></div>',
        props: [
          'target',
          'action',
          'addText'
        ],
        methods: {
          button_click: function(event) {
            console.log(event);
            this.addText(event, this.target, this.action)
          }
        }
      })

      var STORAGE_KEY1 = '1week-tasks'
      var app1 = new Vue({
        el: '#app-1',
        components: {
          todoList: todoList,
          inputForm: inputForm
        },
        data: function() {
          return {
            targetText: '',
            actionText: '',
            taskList: storage.fetch(STORAGE_KEY1),
            index: storage.getCurrentId(STORAGE_KEY1),
            totalTask: storage.fetch(STORAGE_KEY1).length,
            open: true,
            editedTask: null,
          }
        },
        created: function() {
          eventHub.$on('edit-done', this.editDone)
        },
        watch: {
          taskList: function(tasks) {
            storage.save(STORAGE_KEY1, tasks)
          }
        },
        methods: {
          addText: function(event, newTarget, newAction) {
            this.taskList.push({
              id: this.index +=1,
              targetText: newTarget,
              actionText: newAction
            })
            console.log(this.index);
            this.totalTask += 1
            app0.totalTask += 1
            this.targetText = ''
            this.actionText = ''
          },
          deleteText: function(id) {
            this.totalTask -= 1
            app0.totalTask -= 1
            this.taskList = this.taskList.filter(function(task) {
              return task.id !== id
            })
          },
          toggle: function() {
            this.open = !this.open
          },
          editDone: function(task) {
            console.log("doneEdit")
          }
        }
      })
      var STORAGE_KEY2 = '2week-tasks'
      var app2 = new Vue({
        el: '#app-2',
        components: {
          todoList: todoList,
          inputForm: inputForm
        },
        data: function() {
          return {
            targetText: '',
            actionText: '',
            taskList: storage.fetch(STORAGE_KEY2),
            index: storage.getCurrentId(STORAGE_KEY2),
            totalTask: storage.fetch(STORAGE_KEY2).length,
            open: true,
            editedTask: null,
          }
        },
        created: function() {
          eventHub.$on('edit-done', this.editDone)
        },
        watch: {
          taskList: function(tasks) {
            storage.save(STORAGE_KEY2, tasks)
          }
        },
        methods: {
          addText: function(event, newTarget, newAction) {
            this.taskList.push({
              id: this.index +=1,
              targetText: newTarget,
              actionText: newAction
            })
            console.log(this.index);
            this.totalTask += 1
            app0.totalTask += 1
            this.targetText = ''
            this.actionText = ''
          },
          deleteText: function(id) {
            this.totalTask -= 1
            app0.totalTask -= 1
            this.taskList = this.taskList.filter(function(task) {
              return task.id !== id
            })
          },
          toggle: function() {
            this.open = !this.open
          },
          editDone: function(task) {
            console.log("doneEdit")
          }
        }
      })
      var app0 = new Vue({
        el: '#app-0',
        data:function() {
          return {
            totalTask: app1.totalTask + app2.totalTask
          }
        }
      })
    </script>
</body>
</html>
