#dorpArea {
  background-color: blue;
}
#showArea {
  display: flex;
  align-content: stretch;
}
#showArea > img {
  padding: 5px;
}
#flexContainer {
  display: flex;
}
#progressBarArea {
  display: flex;
  flex-direction: column;
}
